.MostFamousMovies {
  padding-top: 20px;
}

.btn_mode.active {
  filter: blur(2px);
  order: 2;
}
.btn_mode {
  border: none;
  background: transparent;
  color: #fff;
  font-size: 30px;
  font-family: "PT Serif", serif;
  font-style: italic;
  letter-spacing: 2px;
  cursor: pointer;
}

.wrapper_mode {
  display: flex;
  justify-content: center;
}

.span_mode {
  font-family: "PT Serif", serif;
  font-style: italic;
  color: #fff;
  font-size: 30px;
  letter-spacing: 2px;
}

.TopFamous {
}
.TopFamous_title > * {
  letter-spacing: 2px;
  display: inline-block;
}
.TopFamous_title > h2 {
  font-size: 37px;
  color: #fff;
}
.TopFamous_title > span {
  font-size: 37px;
  color: rgb(143, 143, 143);
}
.TopFamous_title > p {
  font-size: 23px;
  color: rgb(143, 143, 143);
  cursor: pointer;
  position: relative;
}
.TopFamous_title > p::after {
  content: "";
  position: absolute;
  background-image: url("./img/arrow_up_icon.svg");
  width: 24px;
  height: 24px;
  top: 2px;
  right: -20px;
}

.header__search {
  z-index: 1;
  width: 300px;
  height: 100%;
  display: flex;
  margin-right: 48px;
  align-items: center;
}
.input__search {
  margin-top: 100px;
  width: 80%;
  height: 48px;
  border-radius: 20px 0 0 20px;
  border: none;
  outline: none;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.801);
}

.btn__search {
  margin-top: 100px;
  width: 17%;
  height: 50px;
  border-radius: 0 20px 20px 0;
  border: none;
  background-color: rgba(255, 255, 255, 0.801);
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}
@keyframes search_btn {
  0% {
    transform: scale(0.8);
  }
  50% {
    filter: blur(1px);
    transform: scale(1.1);
  }
  100% {
  }
}
.btn__search:focus > img {
  animation-name: search_btn;
  animation-duration: 1.4s;
}
