.swiper-poster__wrapper {
  width: 550px;
  height: 670px;
}

.img_poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiperPosterPageItem {
  height: auto;
}

.swiperPosterPageItem {
  overflow: initial;
}

.mySwiperTop > .swiper-button-next,
.mySwiperTop > .swiper-button-prev {
  top: -3%;
}
