@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,700;1,400&display=swap");

body {
  background: rgb(30, 35, 60);
  background: radial-gradient(
    circle,
    rgba(30, 35, 60, 1) 0%,
    rgb(47 68 80) 100%
  );
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  min-width: 320px;
  overflow: hidden;
}